---
---

@import "{{ site.theme }}";

/**
* Basic styling
*/
body, button{
    font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #3e3e3e;
    background-color: #ffffff;
    line-height: 1.7;
  }

.top-container{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.header-logo{
  max-width: 200px;
}

.site-title{
  display: block;
}

.site-header{
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  background-color: #ffffff;
}

.site-nav{
  float: none;
  text-align: center;
}

.site-nav .page-link{
  color: #3e3e3e;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 40px;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}